<h3 class="mb-4 font-light">Posting to Webbit</h3>
<ol class="text-sm list-reset leading p-o">
  <li class="py-1 font-semibold border-b">Remember to be human</li>
  <li class="py-1 font-semibold border-b">Behave like you would in real life</li>
  <li class="py-1 font-semibold border-b">Look for the original source of content</li>
  <li class="py-1 font-semibold border-b">Search for duplicates before posting</li>
  <li class="py-1 font-semibold border-b">Read the community's rules</li>
</ol>
